@import 'base.scss';

.about{
	.container{
		display: flex;
		justify-content: space-between;
	}

	.about__item{
		&:nth-child(even){
			background-color: $gray;
		}
		padding: 40px;
		max-width: 580px;
		box-sizing: border-box;
	}
}