@import 'base.scss';

.technologies{
	h2{
		text-align: center;
		font-size: 30px;
		margin: 38px 5px;
	}
	.container{
		display: flex;
		justify-content: space-between;
	}
}
.technologies__item{
	width: 575px;
	box-sizing: border-box;
	padding: 40px;

	&.basecore{
		border: 1px solid $gray;
		background:transparent url('../img/bc-platform.jpg') right bottom no-repeat;
	}
}

